<div class="container home">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h3>Sign Up and Create a Profile</h3>
    <h4>Although not required, creating a profile allows you to tell a client a little bit about yourself. In addition, clients can rate you providing a trust-level that can help future clients choose you.</h4>
    <%= form_for(@user) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Sign me up!", class: "btn btn-primary" %>

    <% end %>
    <p>Already have an account? <%= link_to "Log in now!", login_path %></p>
  </div>
</div>
</div>